:root {
  /* Colors */
  --color-white: #ffffff;
  --color-dark: #00000099;
  --color-light: #e4e4e4;
  --color-alto: #dddddd;
  --color-grey: #444444e7;

  /* Margins */

  --small-offset: 1rem;
  --second-offset: 2rem;
  --main-offset: 3rem;
  --pre-big-offset: 4rem;
  --big-offset: 5rem;

  /* Fonts */

  --font-family: 'Montserrat', sans-serif;
  --bold-title: 700 4.4rem / 120% var(--font-family);

  --bold-main-font: 700 1.8rem / 122% var(--font-family);
  --normal-main-font: 400 1.8rem / 122% var(--font-family);

  --bold-small-font: 400 1.4rem / 121% var(--font-family);
  --normal-small-font: 400 1.4rem / 121% var(--font-family);
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
  opacity: 0.7;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1210px;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.btn {
  overflow: hidden;
  border-radius: 0.4rem;
  padding: 1.5rem 4.5rem;
  font: var(--middle-font);
  transition: color 0.3s ease-in-out, background 0.3s linear, box-shadow 500ms linear;
  /* 
  &--primary {
    border: 1px solid var(--color-surf);
    color: var(--color-surf);

    &:hover {
      box-shadow: 0 0 5px var(--color-surf), 0 0 12px var(--color-surf-hover);
      color: var(--color-white);
      background: linear-gradient(
        117deg,
        rgba(8, 253, 216, 1) 0%,
        rgb(0, 199, 169) 100%
      );
    }
  } */
}
